# ===============================
# TELEGRAM
# ===============================
aiogram

# ===============================
# API
# ===============================
fastapi
uvicorn

# ===============================
# DATABASE
# ===============================
SQLAlchemy
asyncpg

# ===============================
# REDIS
# ===============================
redis

# ===============================
# UTIL
# ===============================
python-dotenv

# ⚠️ MUHIM: aiogram bilan mos versiya
pydantic
