# ==================== TELEGRAM BOT ====================
aiogram

# ==================== DATABASE ====================
SQLAlchemy
asyncpg
alembic

# ==================== REDIS ====================
redis

# ==================== API SERVER ====================
fastapi
uvicorn[standard]
python-multipart

# ==================== UTILITIES ====================
python-dotenv
pydantic
pydantic-settings
