# ===============================
# TELEGRAM
# ===============================
aiogram==3.4.1

# ===============================
# API
# ===============================
fastapi==0.110.0
uvicorn==0.27.1

# ===============================
# DATABASE
# ===============================
SQLAlchemy==2.0.27
asyncpg==0.29.0

# ===============================
# REDIS
# ===============================
redis==5.0.1

# ===============================
# UTIL
# ===============================
python-dotenv==1.0.1

# ⚠️ MUHIM: aiogram bilan mos versiya
pydantic==2.5.3
